<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="CasadoRadiadores.Properties.Settings.casadoradiadores_dbConnectionString"
   connectionString="server=localhost;user id=root;password=P08S11PDC#;persistsecurityinfo=True;database=casadoradiadores_db"
   providerName="MySql.Data.MySqlClient" />
 </connectionStrings>
 <startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>
</configuration>
